<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Capstone</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>ust.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementsUpload</display-name>
    <servlet-name>RequirementsUpload</servlet-name>
    <servlet-class>ust.controller.RequirementsUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementsUpload</servlet-name>
    <url-pattern>/RequirementsUpload</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>File Upload Location</description>
    <param-name>fileUploadLocation</param-name>
    <param-value>C:\Users\Reb Avena\workspace\UST-Shifting-Transferring\web\Uploads\</param-value>
  </context-param>
</web-app>